<h1>Wl cals</h1>

<%= form_with url: update_calendar_path, method: :put, data: {turbo: false} do |form| %>
    <%= form.select :month, [["January", 1], ["Febuary", 2]] %>
    <%= form.submit "Search" %>
<% end %>

<%= @month %>

<table>

    <tr>
    <% @days.each do |show| %>
        <tr>
            <td> <%= show.dayNumber %> </td>
            <td style="background-color: <%= show.color %>;"> <%=show.winrate %> </td>
            <br>
        </tr>
    <% end %>
    
</table>
